@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*Because we dont copy code here.*@
    <p>Created by Awie van der Merwe</p>
    @*Github link for the fizzbuzz challenge.*@
    <a class="link-style" href="https://github.com/AwievdM99/FizzBuzz"><i class="fa-brands fa-square-github"></i></i></a>
    <div>
        @*List is retrieved form viewdata and iterated to display the fizzbuzz results.*@
        @foreach (var calculation in ViewData["fizzBuzz"] as IList<string>)
        {
            //I used ol because it is an ordered list.
            <ol class="fizzBuzzLayout">
                @calculation
            </ol>
        }
    </div>
</div>
